<header class="header">
  <nav class="navbar  navbar-expand-sm bg-dark navbar-dark">
    <div class="navbar-brand">
      <div class="navbar-item">
         <!--  <a href="https://book.feelpp.org">Feel++ documentation</a> -->
           <a href="{{{site.url}}}">Cemosis documentation</a>
      </div>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="{{{site.url}}}">Home</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">Projects</div>
          <div class="navbar-dropdown">
            <div class="navbar-item"><strong>Latest Version</strong></div>

            <!-- this code allow to manage ordering of navbar item -->
            {{#each site.components}} {{#each ./versions}} {{#if (eq this ../latestVersion)}}
              <a class="navbar-item" href="{{{./url}}}"> {{{./title}}} </a>
            {{/if}} {{/each}} {{/each}}

            <hr class="navbar-divider">
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">Feel++</div>
          <div class="navbar-dropdown">
            <div class="navbar-item"><strong>GitHub</strong></div>
            <a class="navbar-item" href="http://github.com/feelpp/feelpp">GitHub Repository</a>
            <a class="navbar-item" href="http://github.com/feelpp/feelpp/issues">GitHub Issue Tracker</a>
            <hr class="navbar-divider">
            <div class="navbar-item"><strong>Documentation</strong></div>
            <a class="navbar-item" href="http://docs.feelpp.org/user/{{asciidoc.attributes.feelpp-version}}">User Manual</a>
            <a class="navbar-item" href="http://docs.feelpp.org/dev/{{asciidoc.attributes.feelpp-version}}">Developer Manual</a>
            <a class="navbar-item" href="http://docs.feelpp.org/toolbox/{{asciidoc.attributes.feelpp-version}}">Toolbox Manual</a>
            
          </div>
        </div>
        <div class="navbar-item">
          <a class="navbar-brand" href="https://join.slack.com/t/feelpp/shared_invite/zt-2qe0q9hw-4pVbhohCXUE6Po9Ma8dbiQ"><img src="../../_/img/slack.png" alt="slack" style="width:30px;"></a>
        </div>
        <div class="navbar-item">
          <a class="navbar-brand"  href="http://docs.feelpp.org">
            <img src="../../_/img/logoFeelpp.png" alt="Feel++" style="width:60px;">
          </a>
        </div>
        <div class="navbar-item">
          <a class="navbar-brand"  href="http://www.cemosis.fr">
            <img src="../../_/img/logoCemosisTransparent.png" alt="Cemosis" style="width:60px;">
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>
